<div class="card">

  <div class="card__head">
    <div>
      <% if tweet.user.avatar.attached? %>
        <div>
          <%= image_tag tweet.user.avatar, class: "index--img" %>
        </div>
      <% end %>
    </div>

    <div>
      <div>
        <span class="name" ><%= tweet.user.name %></span>
        <span class=""username>@<%= tweet.user.username %></span>
      </div>

      <span class="times_ago">
        <%= ((Time.zone.now - tweet.updated_at) / 1.minutes).floor %>
         minutes ago
      </span>
    </div>
  </div>

  <div class="card_body">
    <div>
      <p class="text_body content-sm"><%= tweet.body %></p>
    </div>


    <div class="card__body--icons">
      <div class="flex_icons" >
        <div >
          <%= link_to tweet do%>
            <%= image_tag("comment_icon.png")%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
