<div id="<%= dom_id tweet %>">
  <div>
    <% if tweet.user.avatar.attached? %>
      <div>
        <%= image_tag(tweet.user.avatar) %>
      </div>
    <% end %>

    <div>
      <div>
        <span><%= tweet.user.name %></span>
        <span>@<%= tweet.user.username %></span>
      </div>
      <span><%= tweet.updated_at.strftime('%M minutes ago') %></span>
    </div>
  </div>

  <p>
    <%= tweet.body %>
  </p>
  <div>
    <button class="button round-btn">
      <%= link_to edit_tweet_path(tweet) do%>
      <%= image_tag("comment_icon.png")%>
      <% end %>
    </button>
    <%#= image_tag("app/assets/images/comment_icon.png") %>

  </div>

</div>