<p style="color: green"><%= notice %></p>
<h2>Tweet Detail</h2>
<%= render @tweet %>
<%# border div %>
<hr>

<div id="tweets">

  <%= render "tweets/form", {tweet: @current_tweet} %>
  <% @tweet.threads.each do |tweet| %>
    <%= link_to tweet do%>
      <%= render "card", tweet: tweet%>
    <% end %>
  <% end %>

</div>


<div>
  <%= link_to "Edit this tweet", edit_tweet_path(@tweet) %> |
  <%= link_to "Back to tweets", tweets_path %>

  <%= button_to "Destroy this tweet", @tweet, method: :delete %>
</div>
