<!DOCTYPE html>
<html>
  <head>
    <title>TweetableIndividual</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul class="nav--links expandable">
      <li>
      <% if current_user%>
        <p><%=current_user.username%> </p>
      <% end %>
      </li>
      <li><%= link_to "Tweets", root_path, class: "link text-sm" %>
    <% if current_user %>
      
      <li><%=button_to "Log Out", destroy_user_session_path, :method=> :delete, class:"button button--secondary button--sm" %></li>
    <% else %>
      <li><%=button_to "Log In", new_user_session_path, :method => :get, class:"button button--primary button--sm" %></li>
    <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
